<section id="team" style="background: #E8EAED; padding-bottom: 30px;">
    <div class="container p-2">
        <div class="row">
            <div class="col-md-12 col-sm-12  my-4">
                <h3 class="green mobailHeading" style="text-align: center; font-family:'Comic Sans MS'">Team Member</h3>
                <!--bar area-->
                <div class="barshort" style="border: 2px dashed gray; margin: 0 auto;"></div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="team-item active">
                    <div class="header">
                        <div class="img">
                            <img src="assets/img/Tirtho.jpg" alt="image"/>
                        </div>
                        <div class="info">
                            <strong>Rejaul Karim Tirtho</strong><br>
                            <span>Dept. of CSE</span><br>
                            <span>Roll : 41 &nbsp; Batch : E-62</span><br>
                            <span>Email : rktirtho@gmail.com</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/rktirtho" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="team-item active">
                    <div class="header">
                        <div class="img">
                            <img src="assets/img/Siam.jpg" alt="Image"/>
                        </div>
                        <div class="info">
                            <strong>Md. Shaeed Al Hasan</strong><br>
                            <span>Dept. of CSE</span><br>
                            <span>Roll : 42 &nbsp; Batch : E-62</span><br>
                            <span>Email : siamshaeed@gmail.com</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/siamshaeed" target="_blank"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="team-item active">
                    <div class="header">
                        <div class="img">
                            <img src="assets/img/Shima.jpg" alt=""/>
                        </div>
                        <div class="info">
                            <strong>Shima Akter</strong><br>
                            <span>Dept. of CSE</span><br>
                            <span>Roll : 07 &nbsp; Batch : E-62</span><br>
                            <span>Email : simaakhter52@gmail.com</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/shimaakter" target="_blank"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6">
                <div class="team-item active">
                    <div class="header">
                        <div class="img">
                            <img src="assets/img/Shuvo.jpg" alt=""/>
                        </div>
                        <div class="info">
                            <strong>Abdullah Al Ohab Shuvo</strong><br>
                            <span>Dept. of CSE</span><br>
                            <span>Roll : 31 &nbsp; Batch : E-62</span><br>
                            <span>Email : ahemedshuvo@gmail.com</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/mdshuvorahman"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
</section>