<!-- For Logo and Navigation -->
<section id="home">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 myresponsive">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a class="navbar-brand myLogo" href="#"><img class="logo-image" src="assets/img/logo.png"/></a><span class="moto">Intelligent Surveillance System</span>
                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mx-auto myNav" style="font-family: Comic Sans MS;">
                          <li class="nav-item">
                              <a class="nav-link" routerActive="active" routerLink="organizations">Organization</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" routerActive="active" routerLink="permitted">Permitted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerActive="active" routerLink="securities">Security</a>
                        </li>
                          <li class="nav-item">
                              <a class="nav-link " routerActive="active" routerLink="contact">Team</a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</section>
<router-outlet></router-outlet>